In [1]:
#libraries
from zipfile import ZipFile
import pandas as pd

In [2]:
#call API
%pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: six>=1.10 in c:\users\fibonacci\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\fibonacci\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in c:\users\fibonacci\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in c:\users\fibonacci\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\users\fibonacci\anaconda3\lib\site-packages (from kaggle) (4.47.0)
Collecting python-slugify
  Downloading python_slugify-6.1.2-py2.py3-none-any.whl (9.4 kB)
Requirement already satisfied: urllib3 in c:\users\fibonacci\anaconda3\lib\site-packages (from kaggle) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\fibonacci\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\fibonacci\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73058 sha256=4e14edace2968b8f6e82689f34b6031467b4aff5c3f19d15f3213f411f39539b
  Stored in directory: c:\users\fibonacci\appdata\local\pip\cache\wheels\29\da\11\144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-6.1.2 text-unidecode-1.3
Note: you may need to restart the kernel to use updated packages.

In [10]:
# Import data files from the Kaggle API
!kaggle competitions download -c spaceship-titanic

Downloading spaceship-titanic.zip to c:\Users\FIBONACCI\OneDrive - Universidad de Antioquia\repos\Spaceship_Titanic

  0%|          | 0.00/299k [00:00<?, ?B/s]
100%|██████████| 299k/299k [00:00<00:00, 1.87MB/s]
100%|██████████| 299k/299k [00:00<00:00, 1.57MB/s]

In [11]:
# Unzip the data files
with ZipFile("spaceship-titanic.zip", 'r') as zip_ref:
    zip_ref.extractall()
    print('Done')
# .zip is now not necessary
!rm *.zip

Done

In [12]:
# Read the data files into pandas dataframes
df_train = pd.read_csv("train.csv")
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True